<div class="container">
  <h2>Census Records</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Year of the Census</th>
        <th>Census Taker's Name</th>
        <th>Number of People in Household</th>
        <th>Household State</th>
        <th>Household City</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let census of Census; let i = index">
        <td>{{ census.year }}</td>
        <td>{{ census.census_taker }}</td>
        <td>{{ census.people_in_household }}</td>
        <td>{{ census.state }}</td>
        <td>{{ census.city }}</td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['/edit-census/', census._id]">
            Edit
          </a>
          <button class="btn btn-danger btn-sm" (click)="delete(census._id, i)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
